@(username: String, games : String)
@main("Edit games"){
<div id="gameapp">
    <header>
        <h1>Your games</h1>
    </header>
    <section id="main">
        <!--main game list-->
        <ul id="game-list"></ul>
        <input id="new-game" type="text" placeholder="Enter a name to start a new game...">
    </section>


    <footer>
        <a id="clear-completed">Clear completed</a>
        <div id="game-count"></div>
    </footer>

</div>

<div id="instructions">
    Double-click to edit a game.
</div>

<script type="text/javascript">
    var data = @Html(games);
    var user = "@username";
</script>
@jsincludes()
<script src="assets/javascripts/lms-edit-games.js"></script>

<!-- Templates -->
<script type="text/template" id="game-template">
    <div class="view">
        <label><%= name %></label>
        <input class="edit-name" type="text" value="<%= name %>" />
        Players:
        <ul id="player-list">
        </ul>

        <% if(started){
            print("game started " + started.toString('dddd, MMMM d'))
        }else{%><a class="start"></a><%}%>
        <input class="add-player" type="text" value="" />
        <% if(!started){%><a class="add-player">Add a player</a><%}%>
        <a class="destroy-game"></a>
    </div>
</script>

<script type="text/template" id="player-template">
    <div class="view">

        <% if(username != user){%><%= username %><a class="destroy-player"></a>
        <%}else{%><label>you</label><%}%>
    </div>
</script>

<script type="text/template" id="stats-template">
    <div class="game-count"><b>You are playing in <%= started %> started <%= started == 1 ? 'game' : 'games' %> and <%= unstarted %> unstarted <%= unstarted == 1 ? 'game' : 'games' %></b></div>
</script>
}

