@(game: String)

@main("Game ") {
<div id="game"></div>

<script type="text/javascript">
    var data =@Html(game);
</script>
<script src="/assets/javascripts/date.js"></script>
<script src="/assets/javascripts/ember/jquery-1.7.2.min.js"></script>
<script src="/assets/javascripts/ember/ember-0.9.8.1.js"></script>
<script src="/assets/javascripts/ember/lms-view-game.js"></script>

<!-- Templates -->
<script type="text/x-handlebars" data-template-name="game-template">
    <div class="view">
        <h2>{{model.game.name}}</h2>


        This game started in week {{model.game.started}}<br />
        The current match week is week {{model.thisMatchWeek.number}}

        <h3>Players:</h3>
        <ul id="player-list">
            {{#each model.game.players}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
        <div id="matches">
            <h3>Your selection from next weeks matches:</h3>
            <ul >
                {{#each model.nextMatchWeek.matchDays}}
                <li>
                    {{formatDate day}}
                    <ul id="match-list">

                    {{#each matches}}
                        <li>
                    {{view Em.RadioButton titleBinding="homeTeam.name" optionBinding="homeTeam.name" group="matches" valueBinding="App.game.userPick"}} -
                    {{view Em.RadioButton titleBinding="awayTeam.name" optionBinding="awayTeam.name" group="matches" valueBinding="App.game.userPick"}}
                            </li>
                    {{/each}}
                        </ul>
                </li>
                {{/each}}
            </ul>
        </div>
        <div id="your-picks">
            <h3>Your previous picks:</h3>
            {{#each model.game.rounds}}
                {{matchWeek}}
                {{#each userPicks}}
                <li>
                    {{team}} - {{correct}}
                </li>
                {{/each}}
            {{/each}}
        </div>

    </div>
</script>

<script type="text/template" id="match-template">
    {{}}
</script>

}